#hiddenTextArea {
    display: none;
}

.hidden-checkbox {
    display: none;
}

.custom-checkbox-label {
    display: inline-block;
    width: 60px; 
    height: auto; 
    cursor: pointer;
}

.switch-inline-element {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.page{
  display: none;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link.active {
  color: rgb(255, 255, 0); /* Replace with your desired active link color */
}