#hiddenTextArea {
    display: none;
}

.hidden-checkbox {
    display: none;
}

.pull-right {
  float: right;
}

button:focus{
    outline: 4px solid #cf9604;
}

.custom-checkbox-label {
    display: inline-block;
    width: 60px; 
    height: auto; 
    cursor: pointer;
}

.switch-inline-element {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.page{
  display: none;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link.active {
  text-decoration: underline;
}


[role="dialog"] {
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #000;
  background-color: #fff;
  min-height: 100vh;
}

@media screen and (min-width: 640px) {
  [role="dialog"] {
    position: absolute;
    top: 2rem;
    left: 50vw; /* move to the middle of the screen (assumes relative parent is the body/viewport) */
    transform: translateX(
      -50%
    ); /* move backwards 50% of this element's width */

    min-width: calc(640px - (15px * 2)); /* == breakpoint - left+right margin */
    min-height: auto;
    box-shadow:
      0 19px 38px rgb(0 0 0 / 12%),
      0 15px 12px rgb(0 0 0 / 22%);
  }
}

[popover]:popover-open::backdrop {
  background: rgb(190 190 190 / 50%); /* A semi-transparent gray */
}

#errorMsg {
  display: none;
  color: red;
}

#tyMsg {
  display: none;
}

.col-md-4 a{
 color: rgb(0, 0, 155);
 text-decoration: underline;
}

.col-md-4 a:visited {
  color: rgb(80, 0, 80);
  background-color: transparent;
  text-decoration: underline;
}

#schedForm fieldset{
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
